<html>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <head>
        <style>
            body{
                font-family:Times New Roman;
                line-height: 2.6;
                letter-spacing:0.5;
                font-size:14px;
                word-spacing: 4px;
            }
            .content1 
            {
                text-indent: 4em; /* Adds an indent to the first line */
            }
            .content2 
            {
                text-indent: 7em; /* Adds an indent to the first line */
                line-height: 1;

            }
            .content3
            {
                text-indent: 12em;
                line-height: 1;

            }
            td
            {
                padding:25px;
                padding-left:none;
            }

          
        </style>
    </head>
    <body>

        <h1 style='text-align:center;'><u>AUDIT CERTIFICATE</u></h1>
        <h3 style='text-align:center;'>Proceedings of the Assistant Director of Co-operative Audit, Tiruppur</h3>
        <p class="content2"><b>Present: Thiru. V. GUNASEKAR, B.Com</b></p>
           <p class="content3"><b>Assistant Director of Co-operative Audit, Tiruppur</b></p>
          
        
        <table style="width: 100%; border-collapse: collapse;margin:0 auto;">
          <tr>
            <td style="width: 30%; vertical-align: top; white-space: nowrap;">R.C. No ....................</td>
            <td style="width: 20%; vertical-align: top; white-space: nowrap;"></td>
            <td style="width: 20%; vertical-align: top; white-space: nowrap;"></td>
            <td style="width: 30%; vertical-align: top; white-space: nowrap;">Date ........................</td>
          </tr>
        </table> 

        <table style="width: 95%; border-collapse: collapse; margin: 0 auto;line-height: 2.5;">
          <tr>
            <td style="width: 10%; font-weight: bold; vertical-align: top; white-space: nowrap;">Sub:</td>
            <td style="width: 85%; text-align: justify;">
              <p >Audit Certificate - on the accounts of the <b>T.H.1 SIVANMALAI AANDAVAR HANDLOOM WEAVERS CO-OP PRODUCTION & SALE SOCIETY LTD</b> For the year ended <b>31.03.2023</b>
                as per section 80 of the Tamilnadu Co-operative Societies Act 1983 and Rules 102(8) of Tamilnadu Co-operative Societies Rules 1988 - issued.</p>
            </td>
          </tr>
        </table>
        <p><b><u>ORDER:</u></b></p>
        <p class="content1">The accounts of the <b> T.H.1 SIVANMALAI AANDAVAR
          HANDLOOM WEAVERS CO-OP PRODUCTION & SALE SOCIETY LTD 31st March 2023 </b>  as audited by <b>Thiru J.ARUNCHERMAN Team Head ( Team No : 3), Co-op Audit Officer </b>  and <b>Thiru. M. KARTHIK, Team Member, (Team No : 3), Senior Co-op Auditor</b> are passed</p>
        <ol>
            <li>The statements of [1] Receipts and Disbursements  [2]. Profit and Loss Account and Trading Account [3], Balance Sheet as furnished by him are appended</li>
            <li>The year of auidt is the 9th year of the Society's working</li>
            <li><b><u>MEMBERSHIP AND SHARE CAPITAL:</u></b> There were  <b>264</b> - Members at the end of the year as against  <b>348</b> at the beginning of the year. The Share Capital of the members amounted to <b>Rs. 26,400.00</b> against <b>Rs. 34,800.00</b> at the beginning of the year.</li>
            <li><b><u>DEPOSITS AND BORROWINGS:</u></b>   The outstanding under this head has been  <b>Rs. 4,60,719.00</b></li>
            <li><b><u>RESERVES AND SURPLUS:</u></b> The outstanding under this head has been <b>Rs. 4,60,719.00</b></li>
            <li><b><u>OTHER LIABILITIES:</u></b> The outstanding under this head has been <b>Rs. 4,60,719.00</b></li>
            <li><b><u>INVESTMENTS:</u></b> The Amount outstanding under this head has been <b>Rs. 4,60,719.00</b></li>
            <li><b><u>LOANS AND ADVANCES:</u></b> The Amount outstanding under this head at the end of the year was <b>NIL</b></li>
            <li><b><u>TRADING RESULTS:</u></b> The opening stock of Goods was <b>Rs.1,17,614.00</b> at the beginning of the year. The Society has Purchased Goods to the value of <b>Rs.1234</b> and sold Goods to the value of <b>Rs.1,68,61</b> during the year of audit. The closing stock at the end of the year was <b>Rs.9,20,000</b>. The transaction resulted in a Gross profit of <b>Rs.42,92,000</b></n></li>
            <li><b><u>NET RESULT:</u></b> The society has earned  <b>Net-Profit</b> of <b>Rs.134,55</b> for the year of Audit. After Wiping out the entire Accumulated Loss of <b>Rs.3,49,570</b> the <b>Net Profit</b> was <b>Rs.12,66,99</b> and this may be distributed in accordance with Act Rules and by laws of the society</li>
            <li>
               <b><u>CLASSIFICATION:</u></b>
               <p class="content1">The Society is placed under <b>'C'</b> Class for the year under Audit.</p>
            </li>
            <li>
                <b><u>GENERAL:</u></b> 
                <p class="content1">A copy of the schedule of defects on the final audit of the Society for the year ended <b>31.03.2023</b> as furnished by the Auditor is communicated herewith. The Society shall keep</p>
                <div class="content1" style="line-height:1.5;">
                  <p><span style="width:300px;">i)</span>        Audit Certificate</p>
                  <p><span style="width:30px;">ii)</span>        Receipts and Disbursements Statements</p>
                  <p><span style="width:30px;">iii)</span>  Trading and Profit and Loss Account</p>
                  <p><span style="width:30px;">iv)</span>   Balance Sheet</p>                 
                </div>

                <p  class="content1">Open for Inspection by any Member of the Society. The Summary of Audit memorandum shall also be readout at the forthcoming general body meeting of the Society.</p>    
                
                <p  class="content1">The Society's is also requested to take steps to remedy the defects within a period 3 months and report the same to the authority concerned. </p>  
                <table style="width: 100%; border-collapse: collapse;margin:0 auto;">
                  <tr>
                    <td style="width: 30%; vertical-align: top; white-space: nowrap;"></td>
                    <td style="width: 40%; vertical-align: top; white-space: nowrap;font-size:18px;"><b>NET PROFIT</b></td>
                    <td style="width: 30%; vertical-align: top; white-space: nowrap;font-size:18px;text-align:center;"><b>(+) Rs.367,88,551.90</b></td>
                    <td style="width: 20%; vertical-align: top; white-space: nowrap;"></td>
                  </tr>
                </table> 
                <br>
                <br>
                <table style="width: 100%; border-collapse: collapse;margin:0 auto;">
                  <tr>
                    <td style="width: 40%; vertical-align: top; white-space: nowrap;font-size:16px;"><b>Round Seal</b></td>
                    <td style="width: 20%; vertical-align: top; white-space: nowrap;"></td>
                    <td style="width: 40%; vertical-align: top; white-space: nowrap;font-size:16px;text-align:center;"><b>Assistant Director of Co-op Audit <br> Tiruppur</b></td>
                  </tr>
                </table> 
                <p><b><u>To</u></b></p>
                <p  style="font-size:12px;">
                  <b style="font-size:14px;">The President</b><br>
                  <b>T.H.1 SIVANMALAI AANDAVAR HANDLOOM WEAVERS</b><br>
                  <b>CO-OP PRODUCTION & SALE SOCIETY LTD, Nathakadaiyur</b>
                </p>

                <p><b><u>Copy</u></b></p>
                <b>
                  <ol>
                    <li><b>The Directorate of Co-op Audit, Chennai</b></li>
                    <li><b>The Assistant Director of Handloom Department Tiruppur</b></li>
                    <li><b>The Administrator - Tiruppur District Co-operative Union Ltd Tiruppur</b></li>
                  </ol>
                </b>
                         
            </li>
        </ol>
        
    </body>    
</html>
