<html>
    <head>
        <style>
           
            .content1
            {
                text-indent: 2em; /* Adds an indent to the first line */
                line-height:2.0;

            }
           
        </style>
    </head>
    <body>
        <h4 >To,<br>
        [auditeeInstDetails]</h4>


        <h4 style="text-align:center;">Subject: Audit Report for the [yeartype] [audityear]</h4>
        <h4>1. Introduction</h4>
        <p>This report is issued in connection with the annual accounts of <b>[AuditeeInstitution]</b> for the [yeartype] <b>[audityear]</b> <br>
            We have examined the accompanying financial statements, which include:<br>
            <ul>
                <li>The Annual Accounts Statement for the financial years ended [endateofaudit] as well as Records/Registers and work plan as per CAMS.</li>
            </ul> 
        </p>
      
        <h4>2. Management's Responsibility</h4>
        <p>The Management of the <b>[AuditeeInstitution]</b> is solely responsible for the preparation and presentation of the Statement. This responsibility includes:<br>
            <ul>
                <li>Maintaining all necessary accounting records and supporting documents.</li>
                <li>Designing, implementing, and maintaining internal controls relevant to the accurate preparation of the Statement.</li>
                <li>Ensuring that the information provided to the auditors complies fully with the statutory requirements of the relevant Act, Rules, Manuals and Govt Orders prescribed in this regard</li>
                <li>Making accounting estimates that are reasonable in the circumstances.</li>
            </ul> 
        </p>

        <h4>3. Auditor's Responsibility</h4>
        <p>As required by the relevant Rules and Manuals, our responsibility is to conduct an independent examination and provide reasonable assurance on the following matters:<br>
            <ul>
                <li>Whether the annual accounts are maintained in the prescribed manner so as to give a true and fair view of the affairs of the institution audited.</li>
                <li>Whether the Assets and Liability figures arrived are true and fair.</li>
            </ul> 
        </p>

        <p class="content1">We audited the accounts of the auditee institution in accordance with the source of  authority of audit as well the prescribed manuals and standards and in compliance with the orders and circulars issued by the Government / Director General Audit.</p>

        <h4>5. Opinion</h4>
        <p>[certificateopinion]</p>

        <h4>6. Intended Use</h4>

        <p>This certificate is issued solely for the use of the auditee institution concerned for the specific purpose as per the source of authority of audit. The auditee institution shall take necessary
        remedial action at the earliest to rectify the defects pointed out if any in this report and shall
        place the audit report before the Board / Council / Governing Body etc and also file necessary
        action taken report on this audit report with the Head of Department / Government /
        Legislative Assembly as per the Act and/or Rules concerned.</p>
        <p>[TeamDet]<p>
        Date: [Date of Signing]</h4>
        


      
    </body>
</html>
