<meta charset="UTF-8">
<style>
    body {
        font-family: nototamil;
        font-size: 12pt;
        margin: 0;
        color: #000;
        text-align: justify;
    }
    .header {
        text-align: center;
        margin-top: 20px;
    }
    .header h1 {
        font-size: {{deptsize}}pt;
        margin: 10px 0;
    }
    .header h2 {
        font-size: 20pt;
        margin: 5px 0;
    }
    .header h3 {
        font-size: 18pt;
        margin: 5px 0;
        font-style: italic;
    }
    .header img {
        margin: 10px auto;
        display: block;
        width: 100px;
        height: 100px;
    }

    img {
        width: 250px !important;
        height: 250px !important;
    }

    body
    {
        font-family: Times New Roman;
        font-size: 13pt;
        line-height: 1.6;
        margin: 0;
        padding: 20mm;
        color: #000;
    }
     
    h1, h2, h3 {
        text-align: center;
        color: #333;
    }
    
    .section-header {
        text-align: center;
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        font-size: 16pt;
        font-weight: bold;
    }
    .section-content {
        margin-top: 15px;
    }
                                
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }
    table, th, td {
        border: 1px solid #999;
    }
     
    th, td {
        padding: 13px;
        text-align: left;
        vertical-align: top;
    }
                                
    .letter-footer {
        margin-top: 40px;
        font-size: 10pt;
        text-align: right;
    }
    
    .signature {
        margin-top: 60px;
    }
                                
    .page-break {                                   
        page-break-before: always;
        padding:10px;
    }

</style>
<!-- FIRST PAGE CONTENT -->
<div class="section-content"></div>
    <div class="header">
        <br><br>
        <h1><b>{{DeptName}}</b></h1><br>
        <img src="{{base64Image}}" width="250" height="250"/><br><br>
        <h2><b>{{DistName}}</b></h2><br>
        <h1><b>{{InstituteName}}</b></h1><br><br>
        <h3><b>{{FinancialYear}} {{AuditReport_Year}}<br>{{AuditReport_Text}}</b></h3>
    </div>
</div>
<!--<div class="page-break"></div>-->

<!-- COVERING LETTER -->
<!--<div class="section-content">
    <h3 style="text-align:center;">COVERING LETTER</h3>
    <div style="height:100px;"></div>
</div>


<div class="page-break"></div>-->

<!-- OVERVIEW -->
<!--<div class="section-content">
    <h3>OVERVIEW</h3>
    <p>
         This Report contains four chapters. The first and second chapters contain an Executive
                    Summary and overview of Annual Accounts respectively. The third chapter contains details
                    of audit procedure and Auditable Institutions. The fourth chapter contain the Introduction and
                    audit observations pertaining to City Municipal Corporations, Municipalities and Town
                    Panchayats in Urban Local Bodies respectively.1. Executive Summary:
                    An Overview of Financial Position of Urban Local Bodies (viz., Municipal Corporations,
                    Municipalities and Town Panchayats).IL Overview of Annual Accounts:
                    Comparative analysis of Income and Expenditure under various sub-heads of Urban Local
                    Bodies.
                    III Audit procedure and Auditable Institutions:
                    A short introduction on the Tamil Nadu Local Fund Audit Department and the Tamil Nadu
                    Local Fund Audit Act, 2014. Audit procedure, Number of Auditable Institutions and the Gist
                    of major Audit Observations are given in this chapter.
                    IV. Introduction to Urban Local Bodies and Major Audit Observations:
                    For the Year ended March 2022, 41 Major Audit Observations pertaining to Urban Local
                    Bodies are discussed in this chapter.
    </p>
    </div>
</div>

<div class="page-break"></div>-->

<!-- TABLE OF CONTENTS -->
<!--<div class="section-content">
    <h3 style="text-align:center;">TABLE OF CONTENTS</h3>
    <div>
        <table style="width: 100%; border: none; border-collapse: collapse;">
            <tr>
                <th style="width:10%; font-weight: bold; ">S.No</th>
                <th style="width:80%; font-weight: bold; ">Content</th>
                <th style="width:10%; font-weight: bold; ">Pg.No</th>                    
            </tr>
            <tr>
                <td style="width:10%;">1</td>
                <td style="width:80%;"></td>
                <td style="width:10%;"></td>
            </tr>
            <tr>
                <td style="width:10%;">2</td>
                <td style="width:80%;"></td>
                <td style="width:10%;"></td>                       
            </tr>
            <tr>
                <td style="width:10%;">3</td>
                <td style="width:80%;"></td>
                <td style="width:10%;"></td>                       
            </tr>
        </table>
    </div>
</div>-->

